parameters:
    level: max
    paths:
        - src
    checkMissingIterableValueType: false
    checkGenericClassInNonGenericObjectType: false
    checkExplicitMixed: true
    checkMissingCallableSignature: true
    treatPhpDocTypesAsCertain: false
    typeAliases:
        anyCallable: 'callable(\hcf\task\QueryAsyncTask) : void'
        callableVoid: 'callable() : void'

includes:
    - vendor/phpstan/phpstan-strict-rules/rules.neon